# ignore all
/**

# git
!/.gitignore
!/.gitmodules

# wezterm
!/wezterm.lua

# tmux
!/tmux.conf

# nvim
!/nvim/
!/nvim/**
/nvim/lazy-lock.json

# zsh
!/zshenv
!/zsh/
!/zsh/**
/zsh/zprofile.local
/zsh/zshrc.local

# claude
!/claude/
!/claude/**

# install script
!/install.sh
